Flask
Flask-PyMongo
pymongo
Flask-Mail
Flask-Session
Flask-Bcrypt
torch
transformers
scikit-learn
pandas
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz