Flask
Flask-PyMongo
pymongo
Flask-Mail
Flask-Session
Flask-Bcrypt
torch
transformers
scikit-learn
pandas
spacy
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
en_ner_bc5cdr_md @ https://github.com/kormilitzin/en_ner_bc5cdr_md/releases/download/en_ner_bc5cdr_md-0.0.1/en_ner_bc5cdr_md-0.0.1-py3-none-any.whl
